h1 {
    color: red;
}

body {
    background-color: azure;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0, auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

div {
    padding-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  
}
  
.links a:hover {
    color: purple;
}

.halls {
    display: flex;
    flex-direction: column;
}

.halls hall-component {
    padding: 1rem;
}

